.day-name {
  font-size: 1.5em;
  margin: 20px;
}

:host .mat-expansion-panel .mat-expansion-panel-header {
  font-size: 1.2rem;
  text-align: center;
  background-color: #aaf;
}

.day-progressBar {
  margin: 20px;
}

.day-progressBar-status {
  width: 100%;
  text-align: right;
  margin-top: 10px;
  font-size: 1.2em;
}

.day-otherDays {
  display: flex;
  justify-content: center;
}

.day-otherDays .mat-form-field {
  margin: 20px 20px;
  flex-grow: 1;
}
