<div class="day">
  <div class="day-name">{{day?.labelLong}}</div>
  <div class="day-progressBar">
    <mat-progress-bar mode="determinate" [value]="fulfilledChallengesPercentage()"></mat-progress-bar>
    <div class="day-progressBar-status">
      {{fulfilledChallenges?.length}}/{{challenges?.length}}
    </div>
  </div>
  <div class="day-challenges">
    <div class="day-challenges-category" *ngFor="let categoryAndChallenges of challengesByCategory">
      <div class="day-challenges-categoryLabel">{{categoryAndChallenges[0]}}</div>
      <app-challenge [challenge]="challenge" *ngFor="let challenge of categoryAndChallenges[1]" (click)="goToChallenge(challenge)"></app-challenge>
    </div>
  </div>

  <div class="day-otherDays">
    <mat-form-field>
      <mat-select placeholder="All days" (selectionChange)="updateSelectedDay($event)" [(ngModel)]="dayId">
        <mat-option *ngFor="let otherDay of dayList" [value]="otherDay.id">
          {{ otherDay.labelShort }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
