<app-menu (toggleMenu)="snav.toggle()"></app-menu>

<mat-sidenav-container class="example-sidenav-container">
  <mat-sidenav #snav>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
      <a mat-list-item *ngIf="isAuthenticated()" routerLink="/challenges">Challenges</a>
      <a mat-list-item *ngIf="isAuthenticated()" (click)="logout">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
