@use "@angular/material" as mat;
@use 'sass:map';

@import '../../styles.scss';

$color-config:  mat.get-color-config($my-theme);
$primary-palette: map.get($color-config, 'primary');

:host {
  width: 100%;
  height: 100%;
}

.calendarDay {
  height: 100%;
}

.calendarDay-card {
  height: calc(100% - 15px);
  width: calc(100% - 5px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: mat.get-color-from-palette($primary-palette, 500);
}

.calendarDay-name {
  text-align: center;
}

.calendarDay-status {
  text-align: right;
}

mat-card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
