@use "@angular/material" as mat;
@use 'sass:map';

@import '../../styles.scss';

$color-config:  mat.get-color-config($my-theme);
$accent-palette: map.get($color-config, 'accent');

.calendarDay {
  width: 100px;
  height: 70px;
  margin: 5px;
  padding: 11px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: mat.get-color-from-palette($accent-palette, 500);
}

.calendarDay-name {
  text-align: left;
  flex-grow: 1;
}

.calendarDay-status {
  text-align: right;
}
