.challenge {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.challenge-title {
  font-size: 1.1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 85%;
  overflow: hidden;
  flex-grow: 1;
}

.challenge-detailsAction {
  height: 40px;
}

.challenge-detailsAction .material-icons {
  font-size: 2.5rem;
  height: 40px;
  width: 40px;
}
