.calendar {
  margin: auto;
}

.grid {
  height: calc(100vh - 140px);
}

.calendarDay-name {
  text-align: left;
}

.week {
  border-radius: 5%;
}

.week-title {
  line-height: 1.2rem;
}

.week-status {
  text-align: right;
}
