<div class="challenge">
  <div class="challenge-day" *ngIf="challenge?.day">Challenge of day {{challenge?.day}}</div>
  <div class="challenge-title">{{challenge?.label}}</div>
  <div class="challenge-description">{{challenge?.description}}</div>
  <div class="challenge-text" *ngIf="isTextChallenge()">
    <div *ngIf="isChallengeFulfilled()">
      <div *ngFor="let answer of fulfilledChallenge?.answers"><pre>{{answer}}</pre></div>
    </div>
    <div class="challenge-text-form" *ngIf="!isChallengeFulfilled()">
        <mat-form-field>
            <textarea matInput placeholder="Answer"
            [(ngModel)]="answerToSubmit"></textarea>
                    </mat-form-field>
            <div class="challenge-text-submitButton"><button (click)="submitAnswer()" mat-raised-button>Save Answer</button>
            </div>
    </div>    
  </div>

  <div *ngIf="isMediaChallenge()">
    <div *ngIf="isChallengeFulfilled()"></div>

  </div>
</div>