.challenge .mat-divider {
  margin: 10px 0;
}

.challenge-title {
  margin: 20px 20px 0 20px;
  font-size: 1.5rem;
}

.challenge-day {
  font-style: italic;
  text-align: right;
  margin-right: 20px;
  font-size: 1.2rem;
}

.challenge-media-answersLabel, .challenge-text-answersLabel {
  margin: 10px;
}

.challenge-description {
  margin: 10px 20px;
}

.challenge-text-form .mat-form-field {
  display: block;
  margin: 20px;
}

.challenge-text-submitButton {
  margin: 20px;
  text-align: right;
}