.challenge .mat-divider {
  margin: 10px 0;
}

.challenge-title {
  margin: 20px 0 0;
  font-size: 1.5rem;
}

.challenge-day {
  font-style: italic;
  text-align: right;
  font-size: 1.2rem;
}

.challenge-media-answersLabel,
.challenge-text-answersLabel {
  margin: 10px;
}

.challenge-text-answer p {
  padding: 10px;
}

.challenge-description {
  margin: 10px 0;
}

.challenge-text-form .mat-form-field {
  display: block;
  margin: 20px 0;
}

.challenge-text-submitButton {
  margin: 20px 0;
  text-align: right;
}
