.challenge .mat-divider {
  margin: 10px 0;
}

.challenge-title {
  margin: 20px 0 0;
  font-size: 1.5rem;
}

.challenge-day {
  font-style: italic;
  text-align: right;
  font-size: 1.2rem;
}

.challenge-media-answersLabel,
.challenge-text-answersLabel {
  margin: 10px;
}

.challenge-text-answer {
  position: relative;
  min-height: 170px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}
.textAnswer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.textAnswer-content p {
  padding: 10px;
}

.challenge-description {
  margin: 10px 0;
}

.challenge-text-form .mat-form-field {
  display: block;
  margin: 20px 0;
}

.challenge-text-submitButton {
  margin: 20px 0;
  text-align: right;
}
